<header>
    <h1>My To-Do List</h1>
    <nav class="navigation">
      <ul>
        <a href="/"><p>Home</p></a>
        <a href="/searches/new"><p>Search the Google Books</p></a>
      </ul>
    </nav>
  </header>